@import url('https://fonts.googleapis.com/css?family=Abel|Mukta+Mahee:700');
@import url('https://fonts.googleapis.com/css?family=Anaheim');

$header-font:  'Anaheim', sans-serif;
$text-font:  'Mukta Mahee', sans-serif;
$btn-color: hsl(221, 66%, 43%);
$article-color: hsl(207, 57%, 58%);
$span-color: hsl(39, 100%, 50%);
$main-head-color: hsl(0, 1%, 37%);
$font-color: hsl(0, 0%, 100%);
$contact-color: hsl(143, 100%, 66%);
$connect-color: rgb(231, 85, 109);
$footer-color: rgba(0, 0, 0, 0.726);




@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
}

