.form {
    width: 90%;
    margin: 0 auto;
   
    form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        @media screen and(min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    
    }

    input {
        width: 100%;
        padding: 1.2em;
        margin-bottom: 1.3em;
        font-size: 1.2em;  
        border: 1.5px solid $main-head-color;

        @media screen and(min-width: 768px) {
            width: 25%;
            display: flex;
            font-size: 1em;
            justify-content: space-between;
        }
    }
  
    textarea {
        width: 100%;
        color: $main-head-color;
        border-color: $main-head-color; 
        font-size: 1.2em;  
        border: 1.5px solid $main-head-color;        
    }

    button {
        padding: 1em;
        margin-top: 2em;
        border: none;
        @include border-radius(.4em);
        background-color: $span-color;
        color: white;
        width: 20%;
        font-size: 1em;
        font-weight: 700;

        @media screen and (min-width: 992px) {
            width: 12%;
        }
    }
}
